<div *ngIf="node">
    <div class="node-parent">
        <div class="node">
            <img class="node-img"
                [src]="node.type === 'folder' ? '../../assets/images/folder-with-papers-inside-svgrepo-com.svg': '../assets/images/file-regular.svg'" />
            <p>{{ node.name }}</p>
        </div>
        <div class="actions">
            <div *ngIf="node.type === 'folder'">
                <button (click)="toggleAdding()">Add</button>
            </div>
            <button (click)="deleteNode(node.id)">Delete</button>
        </div>
    </div>
    <div style="margin: 0  1.5rem;" *ngFor="let item of node.children">
        <app-node (removeNode)="removeNodeFromTree($event)" [node]="item"></app-node>
    </div>
    <div *ngIf="adding.state">
        <div *ngIf="adding.type === 'unset'; else inputfield">
            <button (click)="addingFolder()" >Folder</button>
            <button (click)="addingFile()">File</button>
        </div>
        <ng-template #inputfield>
            <div style="display: flex; border: 1px solid #000; padding: 0.5rem 1rem;">
                <img [src]="adding.type === 'folder' ? '../../assets/images/folder-with-papers-inside-svgrepo-com.svg': '../assets/images/file-regular.svg'" class="node-img" />
                <input style="flex: 3;" [(ngModel)]="name" />
                <div style="flex: 1">
                    <button [disabled]="name.length === 0 ? true : false" (click)="add()" style="flex: 1">Ok</button>
                    <button (click)="toggleAdding()" style="flex: 1">Cancel</button>
                </div>
            </div>
        </ng-template>
	</div>
</div>