<div>
	<div>
		<button (click)="toggleAdding()" style="padding: 1rem; background-color: #000; color: #fff;">
			Add to the root folder
		</button>
	</div>
	<div *ngFor="let item of base">
		<app-node (removeNode)="removeNodeFromTree($event)" [node]="item" ></app-node>
	</div>

	<div *ngIf="adding">
		<div style="display: flex; border: 1px solid #000; padding: 0.5rem 1rem;">
			<img  src="../assets/images/folder-with-papers-inside-svgrepo-com.svg" class="node-img" />
			<input style="flex: 3;" [(ngModel)]="name" />
			<div style="flex: 1">
				<button [disabled]="name.length === 0 ? true : false" (click)="addToRoot()" style="flex: 1">Ok</button>
				<button (click)="toggleAdding()" style="flex: 1">Cancel</button>
			</div>
		</div>
	</div>
</div>